* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.page-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

html,
body {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

section.wrapper {
  max-width: 1920px;
  margin: 0 auto; }
@media screen and (max-width: 1920px) {
  section.wrapper {
    max-width: 1920px; } }

.container {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 10; }
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 100%; } }

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.static-header {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

ul {
  padding: 0;
  list-style: none; }

button {
  cursor: pointer;
  border: 0;
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  height: auto;
  background: #ffffff; }
.header.scroll-nav {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); }
.header-top .container {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.header-top .btn-register {
  display: none; }
.header-nav {
  display: none; }
.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 27px;
  background: transparent; }
.header-btn .icon {
  width: 30px;
  height: 27px;
  fill: #000000; }
.header-btn.open .icon {
  width: 15px;
  height: 15px; }
.header-mobile {
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  transition: all ease 300ms;
  position: absolute;
  top: 100%;
  left: -150%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  min-width: 250px;
  padding: 25px 15px;
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2); }
.header-mobile.open {
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 1; }
.header-mobile li {
  margin-bottom: 20px; }
.header-mobile a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  position: relative; }
.header-mobile a:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  height: 1px;
  width: 0;
  background: #2D9AFF; }
.header-mobile a:hover:after {
  width: 100%; }
.header .btn-register {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #262526;
  padding: 12px 10px; }

.page-content {
  margin-top: 53px; }

.footer-top {
  padding: 30px 0; }

.footer-item {
  margin-bottom: 30px; }
.footer-item:last-of-type {
  margin-bottom: 0; }

.footer-item__title {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: #262526;
  margin-bottom: 10px; }

.footer-item__list li {
  margin-bottom: 10px; }
.footer-item__list li:last-of-type {
  margin-bottom: 0; }

.footer-item__list a {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #262526; }

.footer-bottom {
  padding: 10px 0;
  background-color: #071022;
  color: #ffffff; }

.footer-bottom-nav {
  margin-bottom: 10px; }
.footer-bottom-nav a {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  color: #ffffff; }
.footer-bottom-nav a:hover {
  text-decoration: none; }

.footer-copy {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #262526;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden; }

h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  font-weight: 900; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #262526; }

strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 900; }

blockquote {
  position: relative;
  padding-left: 50px; }
blockquote:before {
  position: absolute;
  content: '';
  left: 25px;
  top: 0;
  width: 3px;
  height: 100%;
  background: #dedede; }

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #262526; }

h3 {
  font-size: 25px;
  line-height: 26px;
  color: #262526; }

h4 {
  font-size: 18px;
  line-height: 25px;
  color: #262526; }

h5 {
  font-size: 16px;
  line-height: 25px;
  color: #262526; }

h6 {
  font-size: 14px;
  line-height: 21px;
  color: #262526; }

img {
  display: block;
  font-size: 12px;
  line-height: 14px; }

section {
  position: relative;
  padding: 40px 0;
  z-index: 1; }

.section {
  position: relative;
  padding: 100px 0; }

.row.min {
  margin-left: -5px;
  margin-right: -5px; }

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.overflow {
  overflow: hidden !important; }

.hidden {
  display: none; }

.scroll-h {
  overflow: hidden; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.icon {
  width: 20px;
  height: 20px; }

a,
button,
input,
select,
textarea,
span,
.icon {
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease; }

button {
  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif; }

.btn-primary {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  background: #2D9AFF;
  padding: 17px 50px; }

.title-section {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px; }

.link-section {
  text-align: center; }
.link-section .btn-primary {
  margin-bottom: 10px; }
.link-section__question span {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  display: inline-block;
  margin-right: 10px; }
.link-section__question a {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #71BBFF;
  display: inline-block; }

.banner-wrapper {
  text-align: center; }

.banner-text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 20px; }
.banner-text span {
  font-weight: bold;
  display: block;
  color: rgba(0, 0, 0, 0.4); }

.hero-wrapper {
  background-size: cover;
  color: #ffffff;
  text-align: center; }

.hero-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 20px; }

.hero-subtitle {
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.02em;
  margin-bottom: 20px; }

.benefit-item {
  padding: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: -5px -5px 10px rgba(125, 148, 171, 0.11), 10px 10px 15px rgba(125, 148, 171, 0.21);
  box-shadow: -5px -5px 10px rgba(125, 148, 171, 0.11), 10px 10px 15px rgba(125, 148, 171, 0.21); }
.benefit-item:last-of-type {
  margin-bottom: 0; }

.benefit-item__media {
  margin-bottom: 30px; }
.benefit-item__media img {
  width: 100%; }

.benefit-item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px; }

.benefit-item__list li {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 15px;
  padding-left: 15px;
  position: relative; }
.benefit-item__list li:last-of-type {
  margin-bottom: 0; }
.benefit-item__list li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #2D9AFF; }

.comfortably-wrapper {
  background-color: #F0F3F9; }

.comfortably-item {
  padding: 20px 15px;
  background-color: #ffffff;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 1px 15px rgba(172, 194, 216, 0.25);
  box-shadow: 1px 1px 15px rgba(172, 194, 216, 0.25); }
.comfortably-item:last-of-type {
  margin-bottom: 0; }

.comfortably-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }
.comfortably-item__title .icon {
  fill: transparent;
  stroke-width: 2px;
  stroke: #000000;
  width: 35px;
  height: 35px;
  margin-right: 16px; }
.comfortably-item__title span {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000; }

.comfortably-item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000; }

.partner-item {
  margin-bottom: 80px; }
.partner-item:last-of-type {
  margin-bottom: 0; }

.partner-media img {
  width: 100%; }

.partner-description ul {
  counter-reset: section;
  list-style-type: none; }

.partner-description li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px; }
.partner-description li:before {
  position: absolute;
  counter-increment: section;
  content: counters(section, ".") " ";
  left: 0;
  top: 0;
  background-color: rgba(113, 187, 255, 0.2);
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #71BBFF;
  text-align: center; }

.audience-media img {
  width: 100%; }

.audience-description p {
  margin-bottom: 15px; }