.audience{
  &-media{
    img{
      width: 100%;
    }
  }
  &-description{
    p{
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: $black;
    }
  }
}