.footer{
  &-top{
    padding: 30px 0;
  }
  &-item{
    margin-bottom: 30px;
    &:last-of-type{
      margin-bottom: 0;
      li{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.2px;
        color: $default;
        padding-top: 7px;
        span{
          display: block;
          margin-bottom: 4px;
        }
      }
      strong{
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
  &-item__title{
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    color: #262526;
    margin-bottom: 10px;
  }
  &-item__list{
    li{
      margin-bottom: 8px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    a{
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $default;
    }
  }
  &-bottom{
    padding: 5px 0 10px;
    background-color: $blue-100;
    color: $white;
  }
  &-bottom-nav{
    margin-bottom: 10px;
    a{
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-decoration: underline;
      color: $white;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &-social__list{
    margin-top: 14px;
    display: flex;
    align-items: center;
    li{
      margin-right: 20px;
    }
    svg{
      width: 30px;
      height: 30px;
    }
  }
  &-copy{
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: $white;
  }
}