// genearl

$white: #ffffff;
$black: #000000;

// main
$primary: #2D9AFF;
$secondary: #2CCBD1;
$default: #262526;
$blue: #71BBFF;
$blue-100: #071022;
$light: #F0F3F9;

// info

$danger: #f00;
$success: #00b911;
$info: #26badf;
$warning: #fbf8db;
